---
const { title, subtitle, imgPath, imgAlt, imgClass } = Astro.props;
---

<div class="flex">
  <div class="education__time">
    <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
    <span
      class="education__line bg-primary block h-full w-[2px] translate-x-[7px]"
    ></span>
  </div>
  <div class="experience__data bd-grid px-5">
    <div class="flex justify-between content-center">
      <div>
        <h3 class="font-semibold mb-1">{title}</h3>
        <span class="font-light text-sm w-full">{subtitle}</span>
      </div>
      <div class="p-1" {imgClass}>
        <img src={imgPath} alt={imgAlt} width="150px" />
      </div>
    </div>
    <p class="my-2 text-justify">
      <slot />
    </p>
  </div>
</div>
